body {
	background: #1f2937;
}

.nav-bar {
	display: flex;
	margin-bottom: 40px;
}
ul {
	margin-left: auto;
	gap: 16px;
	list-style-type: none;
	display: flex;
}
img {
	max-width: 400px;
	height: auto;
}

.top-section {
	display: flex;
	margin: auto;
	max-width: 800px;
}
